body {
  max-width: 1140px;
  background-color: bisque;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  align-items: center;
  background: lightgreen;
  border-radius: 25px;
  padding: 25px;
  font-size: 1.25em;
  gap: 40px;
}

.hero-container button {
  background-color: aqua;
  padding: 10px 30px;
  font-size: 1.25em;
  border-radius: 10px;
  cursor: pointer;
}

.hero-container img {
  width: 100%;
  height: 400px;
  border-radius: 25px;
}
