.heading{
    background: #540fbc00;
    color: #18073f;
    background-image: url('/PHWeb-13/Milestone-1/Module-01/nature.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}